.profile {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}

@media screen and (max-width: 560px) {
    .profile {
        box-sizing: border-box;
        margin-bottom: 36px;
        justify-content: center;
    }
}